<br>
<% @matrix_step_by_step.each_with_index do |matrix, index| %>
  <div style="height: 1px; background-color: #DDDDDD; text-align: center">
    <span style="background-color: white; position: relative; top: -0.7em;">
      <%if index == @matrix_step_by_step.size-1%>
        <%= "Tabela de Sensibilidade" %>
      <%elsif index == @matrix_step_by_step.size-2%>
        <%= "Tabela Final" %>
      <%else%>
        <%= "Tabela #{index+1}" %>
      <%end%>
    </span>
  </div>
  <br>

  <div class="table-responsive">
    <table class="table table-bordered">
      <% matrix.each do |row| %>
        <tr>                    
          <% row.each_with_index do |el, idx| %>
            <% if el.class == Float %>
              <td><%= el.round(3) %></td>
            <%else%>                    
              <td><%= el %></td>
            <% end %>
          <% end %>  
        </tr>  
      <% end %>
    </table>
  </div>
<br>
<br>

<% end %>
